.ico-catgory {
  background-repeat: no-repeat;
  display: block;
}

.ico-catgory-all {
  width: 16px;
  height: 16px;
  background-position: -5px -5px;
}

.ico-catgory-all-active {
  width: 16px;
  height: 16px;
  background-position: -31px -5px;
}

.ico-catgory-bag {
  width: 16px;
  height: 16px;
  background-position: -57px -5px;
}

.ico-catgory-bag-active {
  width: 16px;
  height: 16px;
  background-position: -83px -5px;
}

.ico-catgory-beauty {
  width: 16px;
  height: 16px;
  background-position: -109px -5px;
}

.ico-catgory-beauty-active {
  width: 16px;
  height: 16px;
  background-position: -5px -31px;
}

.ico-catgory-best-seller {
  width: 16px;
  height: 16px;
  background-position: -31px -31px;
}

.ico-catgory-computer {
  width: 16px;
  height: 16px;
  background-position: -57px -31px;
}

.ico-catgory-computer-active {
  width: 16px;
  height: 16px;
  background-position: -83px -31px;
}

.ico-catgory-electronics {
  width: 16px;
  height: 16px;
  background-position: -109px -31px;
}

.ico-catgory-electronics-active {
  width: 16px;
  height: 16px;
  background-position: -5px -57px;
}

.ico-catgory-garden {
  width: 16px;
  height: 16px;
  background-position: -31px -57px;
}

.ico-catgory-garden-active {
  width: 16px;
  height: 16px;
  background-position: -57px -57px;
}

.ico-catgory-jewelry {
  width: 16px;
  height: 16px;
  background-position: -83px -57px;
}

.ico-catgory-jewelry-active {
  width: 16px;
  height: 16px;
  background-position: -109px -57px;
}

.ico-catgory-men {
  width: 16px;
  height: 16px;
  background-position: -5px -83px;
}

.ico-catgory-men-active {
  width: 16px;
  height: 16px;
  background-position: -31px -83px;
}

.ico-catgory-motorcycles {
  width: 16px;
  height: 16px;
  background-position: -57px -83px;
}

.ico-catgory-motorcycles-active {
  width: 16px;
  height: 16px;
  background-position: -83px -83px;
}

.ico-catgory-phone {
  width: 16px;
  height: 16px;
  background-position: -109px -83px;
}

.ico-catgory-phone-active {
  width: 16px;
  height: 16px;
  background-position: -5px -109px;
}

.ico-catgory-sport {
  width: 16px;
  height: 16px;
  background-position: -31px -109px;
}

.ico-catgory-sport-active {
  width: 16px;
  height: 16px;
  background-position: -57px -109px;
}

.ico-catgory-tools {
  width: 16px;
  height: 16px;
  background-position: -83px -109px;
}

.ico-catgory-tools-active {
  width: 16px;
  height: 16px;
  background-position: -109px -109px;
}

.ico-catgory-toys {
  width: 16px;
  height: 16px;
  background-position: -135px -5px;
}

.ico-catgory-toys-active {
  width: 16px;
  height: 16px;
  background-position: -135px -31px;
}

.ico-catgory-women {
  width: 16px;
  height: 16px;
  background-position: -135px -57px;
}

.ico-catgory-women-active {
  width: 16px;
  height: 16px;
  background-position: -135px -83px;
}
