.wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--width-sidebar);
  color: #39332e;

  a {
    text-decoration: none;
    color: #39332e;

    &:hover {
      color: var(--primary);
    }
  }
}

.body {
  display: grid;
  grid-template-rows: 1fr 22fr 1fr;
  height: 100%;

  .header {
    min-height: var(--height-header);
    padding-left: 30px;
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
    }
  }

  .content {
    overflow: auto;
    padding-left: 30px;
  }

  .footerWrap {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    font-size: 12px;

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.copyright {
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.logoWrap {
  display: flex;
}
